/*** Hero Header ***/
.hero-header { 
    background: url(../img/bg-bottom-hero.webp), 
    url(../img/thumbnail-left-bottom.webp), 
    linear-gradient(to right, var(--main-green), var(--main-blue));
    background-position: left 0 bottom 0px, left -17% bottom -99px, left 0 bottom 0px;
    background-size: contain, 40%, cover;
    background-repeat: no-repeat;
  }
  
.course-title {
    position: relative;
    width: max-content;
    margin: 3rem auto 0;
}

.course-title>h1 {
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    color: var(--main-blue);
    text-align: center;
}

.course-title>h1::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 30%;
    background-color: var(--secondary);
    bottom: 0;
    right: 53%;
}

.course-title>h1::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 30%;
    background-color: var(--secondary);
    bottom: 0;
    left: 53%;
}

.course-title .title-dot {
    width: 10px;
    height: 10px;
    border-radius: 999px;
    background-color: var(--secondary);;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%)
}

.courses .all-course {
    width: max-content;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    margin: 4rem auto 0;
}

.all-course a {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border-top: 6px solid;
    box-shadow: 0px 0px 5px 0px silver;
    transition: 0.4s;
    padding: 1rem;
    border-radius: 4px;
}

.all-course a:first-child {
    border-top-color: rgb(92, 25, 194);
}

.all-course a:nth-child(2) {
    border-top-color: rgb(221, 53, 7);
}

.all-course a:nth-child(3) {
    border-top-color: rgb(7, 159, 68);
}

.all-course a:last-child {
    border-top-color: rgb(239, 239, 23);
}

.all-course a p {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    color: black;
}

.all-course a:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .courses .all-course {
        grid-template-columns: auto;
    }

    .course-title>h1 {
        font-size: 1.7rem;
    }
}