body {
  margin: 0;
  line-height: normal;
}

:root {
  --main-blue: #004aad;
  --main-green: #5de0e6;
  --primary: #2124B1;
  --secondary: #0dcaf0;
  --light: #F7FAFF;
  --dark: #1D1D27;
}

.text-main-blue {
  color: var(--main-blue);
}

.text-main-secondary {
  color: var(--secondary);
}

.bg-main-blue {
  background-color: var(--main-blue);
}

.btn-main-blue {
  color: #fff;
  background-color: var(--main-blue);
  border-color: var(--main-blue);
}

.btn-outline-main-blue {
  color: var(--main-blue);
  border-color: var(--main-blue);
}