/*** Hero Header ***/
.hero-header { 
  background: url(../img/bg-bottom-hero.webp), 
  url(../img/thumbnail-left-bottom.webp), 
  linear-gradient(to right, var(--main-green), var(--main-blue));
  background-position: left 0 bottom 0px, left -17% bottom -99px, left 0 bottom 0px;
  background-size: contain, 40%, cover;
  background-repeat: no-repeat;
}

.content-of-table>ul {
  width: max-content;
  padding: 1rem 2rem;
  background: #e9ecef;
  border-radius: 4px;
}
