/*** Hero Header ***/
.hero-header { 
  background: url(../img/bg-bottom-hero.webp), 
  url(../img/thumbnail-left-bottom.webp), 
  linear-gradient(to right, var(--main-green), var(--main-blue));
  background-position: left 0 bottom 0px, left -17% bottom -99px, left 0 bottom 0px;
  background-size: contain, 40%, cover;
  background-repeat: no-repeat;
}

.news-detail {
  line-height: 1.7rem;
}

.content-of-table>ul {
  width: 100%;
  padding: 1rem 2rem;
  background: #e9ecef;
  border-radius: 4px;
}

pre {
  background: #f5f6f7;
  padding: 1rem;
  border-radius: 4px;
}

.news-detail-body li {
  list-style-type: disclosure-closed;
}

.contact-news-detail {
  background: #e5e5e5;
  border-left: 3px solid #03A9F4;
  padding: 1rem;
  border-radius: 4px;
}

.contact-news-detail b {
  color: #03A9F4;
}

.contact-here {
  text-decoration: underline;
  color: #03A9F4;
}

.lastest-news {
  position: sticky;
  top: 100px;
}

.lastest-news-title {
  background: var(--main-blue);
  padding: 10px 10px; 
}

.lastest-news-title h3 {
  color: #fff;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.lastest-news-body {
  padding: 0;
  margin: 0;
}

.lastest-news-body li {
  padding: 10px 5px;
  border-bottom: 0.5px solid silver;
}

