/*** Hero Header ***/
.hero-header { 
  background: url(../img/bg-bottom-hero.png), 
  url(../img/thumbnail-top-left.svg), 
  url(../img/thumbnail-right-bottom.svg), 
  url(../img/thumbnail-left-bottom.svg), 
  linear-gradient(to right, var(--main-green), var(--main-blue));
  background-position: center bottom -1px, left -49px top -58px, bottom 18% right 0px, left -17% bottom -88px, left 0 bottom 0;
  background-size: contain, 200px, 237px, 40%, cover;
  background-repeat: no-repeat;
}

/*** Section Title ***/
.section-title::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 4px;
  bottom: 0;
  left: 0;
  background: var(--dark);
}

.section-title::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  bottom: 0;
  left: 50px;
  background: var(--dark);
}

.section-title.text-center::before {
  left: 50%;
  margin-left: -25px;
}

.section-title.text-center::after {
  left: 50%;
  margin-left: 25px;
}

.section-title h6::before,
.section-title h6::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 2px;
  left: 0;
  background: rgba(33, 66, 177, .5);
}

.section-title h6::after {
  top: 5px;
  left: 3px;
}
